<!DOCTYPE html>
<html>

   <head>
      <meta content = 'text/html; charset = UTF-8' http-equiv = 'Content-Type' />
   </head>

   <body>
      <h1>Hello <%= @user.name %>,<small> good day!</small></h1>

      <p>
         This is just a test email only from ruby on rails created by <strong>Rhold James Steven S. Navarette</strong>.
         <br><br>
         Thank you and have a nice day!
      </p>

   </body>
</html>
